.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 340px;
  margin: auto;
}

.form *:not(:last-child) {
  margin-bottom: 2em;
  width: 100%;
}

.textfield {
  border: 2px solid var(--secondary-fg);
  color: var(--secondary-fg);
  background-color: var(--secondary-bg);
  color: var(--primary-fg);

  border-radius: 5px;
  font-size: 18px;
  padding: 1em;
  outline: none;
}

.textfield:focus {
  border: 3px solid var(--primary-fg);
}

.button {
  background-color: var(--primary-fg);
  color: var(--primary-bg);
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links *:not(:last-child) {
  margin-right: 2em;
}

.link {
  color: var(--secondary-fg);
}
