.header {
  background-color: var(--primary-bg);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 50vw;
  transform: translateX(-50%);

  z-index: 7;
  width: 100vw;
  max-width: 1140px;
}
