.container {
  position: absolute;
  bottom: 0;
  left: 50vw;
  transform: translateX(-50%) rotateZ(-90deg);
}

.arrow {
  color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  animation: 1.5s upupandabove;
  animation-delay: 1s;
  animation-iteration-count: 5;
}

@keyframes upupandabove {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  90% {
    transform: translateX(200%);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
