.card {
  background-color: var(--secondary-bg);
  border-radius: 5px;
  padding: 1em;
  max-width: 700px;
  width: 90%;
  margin: auto;
  margin-top: 2em;
  position: relative;
  z-index: 6;
}

.card.center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
