.card {
  /* background-color: var(--secondary-bg); */
  border-left: 5px solid var(--primary-fg);
  padding-left: 1em;
  max-width: 700px;
  width: 90%;
  margin: auto;
  margin-top: 2em;
  flex-direction: column;

  display: flex;
}

.content h2 {
  font-size: 32px;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
  color: var(--primary-fg);
  text-decoration: underline;
}

.image {
  max-height: 370px;
  overflow: hidden;
  height: 45vw;

  background-color: var(--transparent);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
}

img {
  max-width: 100%;
}

.tags {
  margin-top: 0.5em;
}
.tags span {
  display: inline-block;
  margin: 0.25em;
  padding: 0.6em 1.2em;
  background-color: var(--transparent);
}

@media screen and (max-width: 550px) {
  .card {
    border-left: none;
    padding-left: 0;
  }
  .content h2 {
    font-size: 24px;
  }
}
